#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
}
#hero-msg h1, 
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: #6e0e0a;
    font-family: "Playfair Display";
}
nav a {
    text-decoration: none;
    color:  #396E94;
    text-align: center;
    padding: 35px;
}
nav a:hover {
    background-color: #ffffff;
    color: #6e0e0a;
}

.book, .join {
  background-color:  white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book :hover 
.join :hover {
  background-color:  #1e0311;
}
#background {
    background-color:  #ccc;
}
.msg {
    background-color:  #25beb17c;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    font-family: "Playfair Display";
}
.msg p {
    font-size: 8em;
    padding-bottom: 15px;
}
footer {
    background-color: darkturquoise;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}   
footer .social img {
    padding-top: 15px;
} 

.logo, .icon {
    width: 80px;
}
.icon {
    padding-top: 10px;
}
#logo_link {
    padding-top: 5px;
}
#hero-ing {
    width: 100%;
}

.home-title {
    font-family: "Playfair Display";
    font-size: 2em;
    margin-top: 10px;
}

.rivers-card, .camping-card,
.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #1e0311
}

main section img {
    box-sizing: border-box;
}